* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    background-color: green;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: yellow;
}

.hamburger_menu {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: white;
}

.worldcuppic {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    margin-top: 50px;
}

.worldcup-description{
    width: 50%;    
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    overflow: auto;    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

@media screen and (max-width:768px) {
    .hamburger_menu {
        display: block;
    }

    .hamburger_menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger_menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger_menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: green;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .worldcup-description{
        width: 70%;
    }
}