* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    background-color: green;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;    
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: yellow;
}

.hamburger_menu {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: white;
}

.worldcuppic {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    margin-top: 50px;
}

.worldcup-description{
    width: 50%;    
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    overflow: auto;    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.worldcup-description:hover{
    border-color: green;
    box-shadow: 0 0 10px green;
}

/* topstars page */
#topstar-head{
    text-align: center;
    margin-top: 5%;
    font-size: 4em;
}

.topstarpic{
    width: 30%;     
    border-radius: 50%;    
    object-fit: cover;    
}

.topstar-content{    
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10%;
    
}

.topstar-topic{
    font-size: 2.75rem;
    margin-top: 3%;
}

topstar-story{
    font-size: 1.5rem;
    margin-top: 3%;
}

.pele{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 5%;
}

.pele:hover{
    border-color: green;
    box-shadow: 0 0 10px green;
}

.maradona{
    margin-top: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 5%;
}

.maradona:hover{
    border-color: green;
    box-shadow: 0 0 10px green;
}

.messi{
    margin-top: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 5%;
}

.messi:hover{
    border-color: green;
    box-shadow: 0 0 10px green;
}

.winners-topic{
    text-align: center;
    margin-top: 8%;    
}
.winners-link{
    color: green;
    text-decoration: underline;    
}

.winner-container{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.winners-box{       
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 2%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;  
    margin: 0 auto;    
    
}

.winners-box:hover{
    border-color: green;
    box-shadow: 0 0 10px green;
}

.winners-info{
    margin-top: 5%;
}


@media  screen and (max-width:1024px) {
    .winners-box{
        width: 200px;
    }
}

@media screen and (max-width:768px) {
    .hamburger_menu {
        display: block;
    }

    .hamburger_menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger_menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger_menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    
    .nav-menu {
        position: absolute;        
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: green;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .worldcup-description{
        width: 70%;
    }

    .topstarpic{
        width: 40%;
    }

    .topstar-content{
        width: 90%;
    }

    .winner-container{        
        flex-direction: column;        
    }

    .winners-box{
        margin-top: 5%;
        width: 300px;
    }
}


@media screen and (max-width:425px) {

    .worldcuppic{
        width: 36%;
    }

    .worldcup-description{
        width: 95%;
    }

    .topstarpic{
        width: 50%;
    }
    
    .topstar-content{
        width: 98%;
    }

    .winners-box{
        margin-top: 10%;
    }

   


}