<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodejs_Expressjs-Project</title>
    <link rel="stylesheet" href="style.css">
    
</head>

<body>
    <%- include('nav_foot/nav') %>

    <div id="content">
        <img class="worldcuppic" src="img/worldcuptrophy.png" alt="WORLDCUP">
        <div class="worldcup-description">
            The FIFA World Cup was first held in 1930, when FIFA, the world's football governing body, decided to stage
            an international men's football tournament under the era of FIFA president Jules Rimet who put this idea
            into place. The inaugural edition, held in 1930, was contested as a final tournament of only thirteen teams
            invited by the organization. Since then, the World Cup has experienced successive expansions and format
            remodeling, with its current 32-team final tournament preceded by a two-year qualifying process, involving
            over 200 teams from around the world.
        </div>        
    </div>

    <script src="script.js"></script>

</body>

</html>