<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Stars - Nodejs_Expressjs-Project</title>
    
</head>
<body>

    <%- include('nav_foot/nav') %>

    <h1 id="topstar-head"> Topstars </h1>

    <div class="topstar-content">
        <div class="pele">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Pele_by_John_Mathew_Smith.jpg/1200px-Pele_by_John_Mathew_Smith.jpg" alt="pele" class="topstarpic">
            <h3 class="topstar-topic">Pele</h3>
        </div>

        <div class="maradona">
            <img src="https://cdn.artphotolimited.com/images/5f60bc53bd40b8173f11e855/1000x1000/diego-maradona-playing-for-argentina-in-1986.jpg" alt="maradona" class="topstarpic">
            <h3 class="topstar-topic">Maradona</h3>

        </div>

        <div class="messi">
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Lionel-Messi-Argentina-2022-FIFA-World-Cup_%28cropped%29.jpg" alt="messi" class="topstarpic" >
            <h3 class="topstar-topic">Messi</h3>

        </div>

    </div>
    
</body>
</html>