<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Stars - Nodejs_Expressjs-Project</title>

</head>

<body>

    <%- include('nav_foot/nav') %>

        <h1 id="topstar-head"> Topstars </h1>

        <div class="topstar-content">
            <div class="topstar-content">
                <div class="pele">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Pele_by_John_Mathew_Smith.jpg/1200px-Pele_by_John_Mathew_Smith.jpg"
                        alt="pele" class="topstarpic">
                    <h3 class="topstar-topic">Pele</h3>
                    <p class="topstar-story">Pelé made his international debut in 1957 at age 16 and the following year
                        played his first game in
                        the World Cup finals in Sweden. The Brazilian manager was initially hesitant to play his young
                        star.
                        When Pelé finally reached the field, he had an immediate impact, rattling the post with one shot
                        and
                        collecting an assist. He had a hat trick in the semifinal against France and two goals in the
                        championship game, where Brazil defeated Sweden 5–2. At the 1962 World Cup finals, Pelé tore a
                        thigh
                        muscle in the second match and had to sit out the remainder of the tournament. Nonetheless,
                        Brazil
                        went on to claim its second World Cup title. Rough play and injuries turned the 1966 World Cup
                        into
                        a disaster for both Brazil and Pelé, as the team went out in the first round, and he
                        contemplated
                        retiring from World Cup play. Returning in 1970 for one more World Cup tournament, he teamed
                        with
                        young stars Jairzinho and Rivelino to claim Brazil’s third title and permanent ownership of the
                        Jules Rimet Trophy. Pelé finished his World Cup career having scored 12 goals in 14 games.</p>
                </div>

                <div class="maradona">
                    <img src="https://cdn.artphotolimited.com/images/5f60bc53bd40b8173f11e855/1000x1000/diego-maradona-playing-for-argentina-in-1986.jpg"
                        alt="maradona" class="topstarpic">
                    <h3 class="topstar-topic">Maradona</h3>
                    <p class="topstar-story">Maradona’s career with the Argentine national team included World Cup
                        appearances in 1982, 1986,
                        1990, and 1994. He dominated the 1986 competition in Mexico. In a 2–1 quarterfinal victory over
                        England, he scored two of the most memorable goals in World Cup history. The first was scored
                        with
                        his hand (the referee mistakenly thought the ball had struck his head), a goal now remembered as
                        the
                        “Hand of God” goal. The second occurred after Maradona gained possession of the ball at midfield
                        and
                        dribbled through a pack of English defenders and past the keeper before depositing the ball in
                        the
                        goal. He did not finish the 1994 World Cup, because he tested positive for the drug ephedrine
                        and
                        was again suspended. Maradona also played on South American championship-winning teams in 1987
                        and
                        1989.</p>

                    <div class="messi">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Lionel-Messi-Argentina-2022-FIFA-World-Cup_%28cropped%29.jpg"
                            alt="messi" class="topstarpic">
                        <h3 class="topstar-topic">Messi</h3>
                        <p class="topstar-story">In the 2022 FIFA World Cup final on 18 December, Messi made his record
                            26th World Cup finals
                            appearance at Lusail Stadium. Messi scored Argentina's opening goal with a penalty, becoming
                            in the
                            process the first player since the last-16 round was introduced in 1986 to score a goal in
                            each
                            round of a single World Cup edition.[490] After Argentina's eventual two-goal lead was
                            erased by
                            France forward Kylian Mbappé, who scored twice inside two minutes, Messi would score again
                            in
                            extra-time to restore Argentina's lead, before Mbappé again drew France level. Tied 3–3
                            after
                            extra-time, the match went to a penalty shoot-out. Messi scored Argentina's first goal in
                            the
                            shoot-out, with Argentina eventually winning 4–2, ending the nation's 36-year wait for the
                            trophy.[491] Messi received the Golden Ball for player of the tournament, becoming the first
                            player
                            to win it twice. He finished second in the Golden Boot race with seven goals in seven games,
                            one
                            behind Mbappé.[490] With his appearance and two goals in the final, Messi overtook Matthaüs
                            as the
                            player with most appearances at the World Cup (26), and Pelé as the player with most direct
                            goal
                            contributions at the World Cup (21 – 13 goals and 8 assists).[492] The championship game was
                            widely
                            acclaimed as one of the best of all time, with media coverage heavily framing it as a duel
                            between
                            Messi and Mbappé.[493][494][495][496] Following the game, Messi confirmed that he had no
                            plans to
                            retire from the national team, saying "I want to continue playing as a champion</p>



                    </div>

</body>

</html>